<html>
<head> 
    <link href="<%= url('/searchresult.css') %>" rel="stylesheet" type="text/css">
    <title>Profile</title>
</head>
    
<body>
    <h4 id="logout"><a href="/search">Home</a></h4>
    <h4 id="profile"><a href="/logout">Logout</a></h4>

    
    <h1><%= @user.username %>'s Favorites </h1>
    <% if @favorites.empty? == true %>
        <div class="box">
            <a href="/search" class="none">You currently have no favorites. Click here to search The Bible and add some!</a>
        </div>
    <% end %> 
    <% @favorites.each do |fav| %>
        <div class="box">
            <h4 class="profile"><a href='search/<%= fav.topic %>'>Topic: <%= fav.topic.upcase %></a></h4>
            <a href=<%= bible_chapter(fav.verse) %> target="_blank"><%= fav.verse %></a>
            <h4><%= fav.body %></h4>
            <a href="https://twitter.com/share?&text=<%= fav.body %> - <%= fav.verse %>" class="twitter-share-button" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <br>
            <br>
            <form action="/delete" method="POST">
                <input type="hidden" name="ref" id="ref" value="<%= fav.verse %>">
                <button type="submit" name="submit" value="Submit" class="btn-link">UnFavorite</button>
            </form>

        </div>
    <% end %>
</body>

</html>